  	body {
		height: 1100px;
	  	
	  	text-align: center;
  	  
  	    font-family: Calibri;
  	  
		/* IE10+ */ 
		background-image: -ms-linear-gradient(bottom, #000000 0%, #FFFFFF 50%, #000000 100%);
		
		/* Mozilla Firefox */ 
		background-image: -moz-linear-gradient(bottom, #000000 0%, #FFFFFF 50%, #000000 100%);
		
		/* Opera */ 
		background-image: -o-linear-gradient(bottom, #000000 0%, #FFFFFF 50%, #000000 100%);
		
		/* Webkit (Safari/Chrome 10) */ 
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(50, #FFFFFF), color-stop(100, #000000));
		
		/* Webkit (Chrome 11+) */ 
		background-image: -webkit-linear-gradient(bottom, #000000 0%, #FFFFFF 50%, #000000 100%);
		
		/* W3C Markup */ 
		background-image: linear-gradient(to top, #000000 0%, #FFFFFF 50%, #000000 100%);
			  
	}
	
  	.tablesorter .filtered { display: none;	}
  	.tablesorter thead .disabled {display: none}
	.ui-menu { width: 206px; }
	.ui-menu-item-wrapper { font-family:Calibri; }
	.menu-buttons { background: white; width:200px; text-align:center; border-style:solid; border-width:1px; cursor:pointer; padding: 3px; }
	.menu-buttons:hover { background: #007fff; }
	.tab-image { position: relative; vertical-align: middle; left: -5px; }
	.input-show { width: 365px; height: 20px; }
	
	.menu-item {
		display: inline-block;
		position: absolute;
		/*text-indent: -99999px;*/
		text-indent: 200px;
		width: 16px;
		height:16px;
		top: 0;
		bottom: 0;
		left: .4em;
		margin: auto 0;
	}
  	
	.menu-item-1 {
		background-image: url("/ConstructionDashboard/images/monitor-window-3d.png");
	}
  	
	.menu-item-2 {
		background-image: url("/ConstructionDashboard/images/monitor-window-flow.png");
	}
  	
	.menu-item-3 {
		background-image: url("/ConstructionDashboard/images/user-business.png");
	}
  	
	.menu-item-4 {
		background-image: url("/ConstructionDashboard/images/user-green.png");
	}
  	
	.menu-item-5 {
		background-image: url("/ConstructionDashboard/images/table-arrow.png");
	}
  	
	.menu-item-6 {
		background-image: url("/ConstructionDashboard/images/arrow-180.png");
	}
  	
  	.exportTableButton {
	    font-family: Verdana,Arial,sans-serif;
	    font-style: normal;
	    font-size: 13px;
	    text-decoration:none;
	    color:#000;
	    background-color:#ddd;
	    border:1px solid #ccc;
	    padding:8px;
	}
  	
	.tablesorter thead th { text-align:center;min-width:50px;max-width:300px; }
	.tablesorter tbody td { text-align:center;min-width:50px;max-width:300px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap; }
	
	#resetMap { cursor:pointer;text-decoration:underline; }
	#resetMap:hover { color:red;text-decoration:underline; }
	#dialog label, #dialog input { display:block; }
	#dialog label { margin-top: 0.5em; }
	#dialog input, #dialog textarea { width: 95%; }
	#tabs { margin-top: 1em; width: 95%; margin: auto; }
	#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	#add_tab { cursor: pointer; }
	#map {
		height: 400px;
		width: 100%;
	}
	
	#projectSpreadsheet tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#projectSpreadsheet tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }

	#projectSpreadsheet tbody td:nth-child(3) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#projectSpreadsheet tbody td:nth-child(3):hover { text-decoration: underline; color: yellow; }

	#pmTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#pmTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }

	#vendorsTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#vendorsTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }
	
	#vendorPrimeDetailTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#vendorPrimeDetailTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }
	
	#subcontractorsTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#subcontractorsTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }

	#vendorSubDetailTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#vendorSubDetailTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }

	#pmDetailTable tbody td:nth-child(1) { cursor:pointer;text-decoration:underline;color:#0000EE; }
	#pmDetailTable tbody td:nth-child(1):hover { text-decoration: underline; color: yellow; }
	